input[type="text"] {
    padding: 15px;
    height: 100%;
    border: 2px solid $secondary-color;
    border-radius: 5px 0 0 5px;
    outline: none;
}

button {
    background-color: $secondary-color;
    outline: none;
    border: none;

    border-radius: 0 5px 5px 0;
    padding: 17px;

    &:hover {
        background-color: darken($color: $secondary-color, $amount: 10);
    }
}