/* Boolean */
$isLightTheme: false !default;

/* Neutral Colors */
$black: #252525;
$dark-gray: #7e7e7e;
$light-gray: #d2d2d2;
$white: #ffffff;

/* Additional Colors */
$error-color: #cf1313;
$success-color: #0053ee;
 
/* Font Family */
$main-family: "Montserrat", sans-serif;

/* Font Sizes */
$h2-size: 24px;
$text-size: 16px;